body {
  background: #fff;
}
body * {
  font-family: var(--primary-font);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 64px;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.grid__gap-20 {
  gap: 20px;
}
.title {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  color: var(--dark-color);
}

.header__container {
  border-bottom: 1px solid var(--main-green);
  padding: 20px 0;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}
.menu {
  display: flex;
  gap: 24px;
}
.menu a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-color);
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 46px;
}
.header__phone {
  font-size: 18px;
  font-weight: 700;
  text-align: right;
}
.header__phone a {
  display: flex;
  

}
.header__phone p {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: var(--dark-color);
}
.header__btn {
  color: var(--main-green);
  border: 1px solid var(--main-green);
  border-radius: 3px;
  width: 173px;
  height: 45px;
}
.header__btn button {
  font-weight: 500;
  font-size: 16px;
  color: var(--main-green);
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid var(--main-green);
}
.header__bottom a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: var(--dark-color);
}