:root {
    --primary-font: "Roboto", Arial, Helvetica, sans-serif;
    --second-family: "Saira Stencil One", Arial, Helvetica, sans-serif;
    --main-green: #6cac3d;
    --main-blue: #2d4872;
    --dark-color: #171616;
    --grey-color: #c4c4c4;
}